<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <!--

        <div class="footer-col col-md-4">
          <p>
           © {{ site.time | date: '%Y' }} MAUVE · PINTO & CHEESE
          </p>
        </div>


        <div class="footer-col col-md-4">
          <ul class="list-inline">
            <li>
              <a href="https://www.instagram.com/pinchee_official" class="btn-social btn-outline">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>


        <div class="footer-col col-md-4">
          <p>Personal archive</p>
        </div>
        
      </div>
    </div>
  </div>
        -->

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row align-items-center">
        <!-- 왼쪽: Instagram -->
        <div class="col-md-6 text-left">
          <a href="https://instagram.com/계정명" class="btn-social btn-outline">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>

        <!-- 오른쪽: Copyright -->
        <div class="col-md-6 text-right">
          © {{ site.time | date: '%Y' }} MAUVE · PINTO & CHEESE
        </div>
      </div>
    </div>
  </div>
</footer>

        
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          © {{ site.time | date: '%Y' }} MAUVE · PINTO & CHEESE
        </div>
      </div>
    </div>
  </div>
  
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
