<!-- Footer -->
<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!--
          <a href="https://instagram.com/pinchee_official" class="btn-social btn-outline">
            <i class="fa-brands fa-instagram"></i>
          </a>
          &nbsp;&nbsp;
          -->
          <div id="footer-message"></div>

          <script>
            const messages = [
              "☆ 오늘도 반짝이는 하루 ☆",
              "☆ 좋은 일이 가득한 하루 ☆",
              "☆ 오늘도 즐거운 하루 보내세요 ☆",
              "☆ 행복은 작은 것에서부터 시작된대요 ☆",
              "☆ 행운이 가득한 하루 ☆",
              "☆ 여유로운 하루 ☆"
              ];

            const msg = messages[Math.floor(Math.random() * messages.length)];
            document.getElementById("footer-message").textContent = msg;
          </script>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
