
header,
header.intro,
header.masthead,
section.success,
.bg-primary {
  background-color: #ffffff !important;
  color: #000000 !important;
}


.intro-text .skills {
  font-family: "Lato", "Nanum Gothic", sans-serif; /* 폰트 그대로 */
  font-weight: 400;   /* 원래 볼드 상태 */
  font-size: inherit; /* 원래 크기 유지 */
  display: inline-block;   /* 블록을 텍스트 크기만큼만 차지하게 */
  text-align: left;        /* 글자는 왼쪽 정렬 */
  line-height: 0.7;        /* 필요 시 줄 간격 조절 */
}


.intro-text {
  text-align: center;      /* 내부 inline-block 요소를 가운데 정렬 */
}


#about-message {
  font-family: "Lato", "Nanum Gothic", sans-serif; /* 한글/영문 폰트 */
  font-size: 20px;    /* 숫자로 지정 */
  line-height: 1.8;   /* 필요 시 줄 간격 조절 */
  font-weight: 400;    /* 볼드 필요 시 조절 */
}
