header,
header.intro,
header.masthead,
section.success,
.bg-primary {
  background-color: #ffffff !important;
  color: #000000 !important;
}

body {
  font-family: "Lato", sans-serif; /* 영어 기본 */
}

#about p,
#about-message,
.intro-text .skills {
  font-size: 20px !important;  /* 원하는 크기로 강제 지정 */
  font-family: "Nanum Gothic", "Lato", sans-serif;
  line-height: 1.8;
  font-weight: 400;
}
