header,
header.intro,
header.masthead,
section.success,
.bg-primary {
  background-color: #ffffff !important;
  color: #000000 !important;
}

@media (min-width: 992px) {
  section.success#about .col-lg-6 p {
    font-size: 16px;   /* 필요에 따라 17px 등으로 조절 가능 */
    line-height: 1.7;
  }
}
