
header,
header.intro,
header.masthead,
section.success,
.bg-primary {
  background-color: #ffffff !important;
  color: #000000 !important;
}


.skills {
  font-family: "Lato", "Nanum Gothic", sans-serif;
  font-weight: 400;
  display: inline-block;
  text-align: left;
  line-height: 0.8;
}

.text-skill-size {
  font-family: "Lato", "Nanum Gothic", sans-serif;
}

.intro-text {
  text-align: center;      /* 내부 inline-block 요소를 가운데 정렬 */
}

#about {
  text-align: center;
}

#about-message {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
}
